# PYTHON PROGRAMMING BASICS ASSIGNMENT

## 1. Setup and Basic Operations

● Use print() and input() functions. 
● Assign values to variables and explore different data types.

In [65]:
# Assigning values to variables
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Print statements
print("Hello", name)
print("You are", age, "years old")

Enter your name:  Reet
Enter your age:  23

Hello Reet
You are 23 years old

#### Explanation:
input() is a function used to take input from the user. It always returns the input as a 'string'.

name = input("Enter your name: ")

This line shows the message "Enter your name: " to the user.

Whatever the user types in is stored as a string in the variable 'name'.

age = int(input("Enter your age: "))

This line asks the user to "Enter your age: "

The input is taken as a string, but we use 'int()' to convert it to an integer, since age is a number.

In [68]:
# Data types
x = 10               # int
y = 3.14             # float
z = "Python"         # str
is_active = True     # bool

print(type(x), type(y), type(z), type(is_active))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

#### Explanation:
This section defines four variables, each with a different data type:

1. x = 10
  
   This assigns the value 10 to the variable x.  10 is an integer (int) — whole number without decimals.

2. y = 3.14

   This assigns the value 3.14 to y.  3.14 is a floating-point number (float) — a number with decimals.

3. z = "Python"

   This assigns the string "Python" to the variable z.  "Python" is a string (str) — a sequence of characters enclosed in quotes.

4. is_active = True

   This assigns the Boolean value 'True to is_active'.  Boolean (bool) values are either 'True or False'.

#### Explanation:

print(type(x), type(y), type(z), type(is_active))

  The type() function returns the data type of the variable passed to it.

  This line will print:  <class 'int'> <class 'float'> <class 'str'> <class 'bool'>

## 2. List Operations

● Create a list and perform basic operations like append(), remove(), pop(), and slicing. 

● Iterate over a list using loops.

In [72]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
popped = fruits.pop()

# Slicing and indexing
print(fruits[0])     # First element
print(fruits[1:])    # From second to

apple
['cherry']

#### Explaination

##### fruits = ["apple", "banana", "cherry"]   :

This creates a list named fruits with three items: "apple", "banana", and "cherry".  Lists are ordered and mutable (We can change them).

#####  fruits.append("orange")  :

.append() adds an element to the end of the list.  Now, fruits = ["apple", "banana", "cherry", "orange"].

##### fruits.remove("banana")   :

.remove("banana") deletes the first occurrence of "banana" from the list.  Now, fruits = ["apple", "cherry", "orange"].

##### popped = fruits.pop() :

.pop() removes and returns the last item from the list ("orange" in this case).  popped will be "orange", and fruits becomes: ["apple", "cherry"].

##### print(fruits[0])     # First element  :

fruits[0] accesses the first element (indexing starts at 0).  Output: "apple"

##### print(fruits[1:])    # From second to end   :

fruits[1:] is slicing: it gives a sublist from index 1 to the end.  Current list is ["apple", "cherry"], so fruits[1:] gives ["cherry"].

In [75]:
# Iterating over list
for fruit in fruits:
    print(fruit)

apple
cherry

#### Explanation

This for loop goes through each item in the 'fruits' list.

The variable 'fruit' takes one value at a time from the list.

Each item is printed one by one.

## 3. Tuple Operations

● Create and access tuple elements. 
● Understand the immutability of tuples. 
● Use tuple unpacking.

In [79]:
# Creating a tuple
colors = ("red", "green", "blue")
print(colors[1])  # Access element

green

#### Explanation

A 'tuple' is like a 'list', but it’s 'immutable' (we can’t change its elements).

colors is a 'tuple with 3' elements.

colors[1] accesses the element at index 1, which is "green".

In [82]:
# Tuple unpacking
r, g, b = colors
print(r, g, b)

red green blue

#### Explanation:

Tuple unpacking means assigning each value from the tuple to its own variable.

The colors tuple contains ("red", "green", "blue").

r gets "red", g gets "green", and b gets "blue".

This is useful when a tuple has multiple items and we want to assign each to a separate variable.

In [85]:
# Immutability
# colors[0] = "yellow"  # This will raise an error

#### Explanation:
Tuples are immutable, meaning you cannot change their elements after creation.

Trying to do colors[0] = "yellow" will cause a TypeError.

## 4. Dictionary Operations

● Create a dictionary with key-value pairs. 
● Perform operations like adding, updating, and deleting key-value pairs. 
● Iterate through a dictionary using loops.

In [89]:
# Creating and modifying a dictionary
student = {"name": "Alice", "marks": 85}
student["grade"] = "A"
student["marks"] = 90
del student["grade"]

# Iterating over dictionary
for key, value in student.items():
    print(key, ":", value)

name : Alice
marks : 90

#### Explanation :

##### student = {"name": "Alice", "marks": 85}

A dictionary is a collection of key-value pairs.

Here, student is a dictionary with two key-value pairs:

"name": "Alice"  and   "marks": 85

##### student["grade"] = "A"

This line adds a new key-value pair "grade": "A" to the dictionary.

Now, student becomes:   {"name": "Alice", "marks": 85, "grade": "A"}

##### student["marks"] = 90

This updates the value associated with the key "marks" from 85 to 90.

After this update, student becomes:  {"name": "Alice", "marks": 90, "grade": "A"}

##### del student["grade"]

This removes the key "grade" and its associated value from the dictionary.

Now, student becomes:  {"name": "Alice", "marks": 90}

##### for key, value in student.items():
#####    print(key, ":", value)

.items() returns a list of tuples, where each tuple contains a key and its corresponding value.

In this case, it's return:   [("name", "Alice"), ("marks", 90)]

The for loop iterates over each key-value pair and prints them one by one:

First, key = "name" and value = "Alice"  print:   'name : Alice'

Then, key = "marks" and value = 90  print:  'marks : 90'

## 5. Set Operations

● Create a set and perform operations like union, intersection, and difference. 
● Understand the uniqueness property of sets.

In [93]:
# Creating a set
nums = {1, 2, 3, 4, 4, 2}
print(nums)  # Duplicates removed

# Operations
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{3}
{1, 2}

#### Explaination
##### nums = {1, 2, 3, 4, 4, 2}
##### print(nums)

Sets store unique, unordered elements.

Duplicates like 4 and 2 are automatically removed.

Output: {1, 2, 3, 4}

##### a = {1, 2, 3}
##### b = {3, 4, 5}

a.union(b) → Combines all unique elements → {1, 2, 3, 4, 5}

a.intersection(b) → Common elements → {3}

a.difference(b) → Elements in a but not in b → {1, 2}

## 6. Conditional Statements

● Implement if-else conditions for decision-making. 
● Use nested if-else conditions for complex logic.

In [99]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number:  4

Positive number

#### Explanation:
Takes a number as input from the user.

Checks if it's positive, zero, or negative using if-elif-else.

Prints the result based on the condition.

## 7. Looping Constructs

● Use for loops to iterate over lists, tuples, and dictionaries. 
● Use while loops for repeating tasks. 
● Implement break and continue statements to control loops.

In [105]:
# For loop
for i in range(5):
    if i == 3:
        continue
    print(i)

# While loop
count = 0
while count < 5:
    if count == 3:
        break
    print(count)
    count += 1

0
1
2
4
0
1
2

#### explanation:
##### for i in range(5):
#####     if i == 3:
#####         continue
#####     print(i)

Loops from 0 to 4.  Skips 3 because of continue.

Output: 0 1 2 4


##### count = 0
##### while count < 5:
#####    if count == 3:
#####        break
#####    print(count)
#####    count += 1

Loops while count < 5.  Stops at 3 because of break.

Output: 0 1 2

## 8. Problem-Solving Tasks

● Write a Python program to find the largest number in a list. 
● Write a Python program to count the frequency of elements in a list. 
● Create a dictionary that stores student names as keys and marks as values, then find 
the student with the highest marks. 
● Implement a while loop to print the Fibonacci series up to a given number. 
● Use a set to remove duplicate elements from a list.

In [109]:
# Find the largest number in a list
numbers = [10, 20, 5, 30]
largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
print("Largest number:", largest)

Largest number: 30

#### Explanation:

Start by assuming the first number is the largest. Loop through the list and update largest if a bigger number is found.

Output: 'Largest number: 30'

In [112]:
# Count frequency of elements in a list   
elements = [1, 2, 2, 3, 1, 4, 2]
freq = {}

for item in elements:
    if item in freq:
        freq[item] += 1
    else:
        freq[item] = 1
print(freq)

{1: 2, 2: 3, 3: 1, 4: 1}

#### Explanation:

Creates an empty dictionary freq.  Loops through the list and counts how many times each number appears.

Output:  '{1: 2, 2: 3, 3: 1, 4: 1}'

In [115]:
#Dictionary: Student marks and highest scorer
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 96
}
top_student = max(students, key=students.get)
print("Topper:", top_student, "with marks:", students[top_student])

Topper: Charlie with marks: 96

#### Explanation:

Dictionary stores names as keys and marks as values.  max(..., key=students.get) finds the key (student) with the highest value (marks).

Output: 'Topper: Charlie with marks: 96'

In [118]:
# Fibonacci Series up to a given number
limit = int(input("Enter a limit: "))
a, b = 0, 1
while a <= limit:
    print(a, end=" ")
    a, b = b, a + b

Enter a limit:  5

0 1 1 2 3 5

#### Explanation:

Starts with 0 and 1, then keeps adding the last two numbers to get the next. Prints Fibonacci numbers until the value exceeds the given limit.

Example:  If limit = 10, output: '0 1 1 2 3 5 8'

In [121]:
# Remove duplicates from a list using a set
items = [1, 2, 2, 3, 4, 4, 5]
unique_items = list(set(items))
print(unique_items)

[1, 2, 3, 4, 5]

#### Explanation:

set(items) removes duplicate values because sets only store unique elements.  list(...) converts the set back to a list.

Output Example: '[1, 2, 3, 4, 5]'